body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 0;
}

.logo {
    height: 100px;
    vertical-align: middle;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    font-weight: bold;
}


h1 {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    vertical-align: middle;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner img {
    width: 100%;
    height: auto;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

form input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form button {
    background: #4285f4;
    color: #fff;
    padding: 1rem 1rem;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    width: 104%;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    margin: 0 10px;
}

.social-icon img {
    width: 30px;
    height: 30px;
    border-radius:100%;
}

.aboutus{
    width: 80%;
    margin: 0 auto;
}

.button2{
    background: #4285f4;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    font-size: 20px;
    border: none;
    width: 20%;
}

footer {
    background-color: #444141;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.news{
    background-color: white;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: calc(33% - 40px);
    box-sizing: border-box;
}

.news img {
    width: 100%;
    height: auto;
}

.news p {
    margin: 10px 0 0;
}
